:root {
    --primary-color: #00b4db;
    --secondary-color: #0083b0;
    --accent-color: #ff7e5f;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --success-color: #28a745;
    --error-color: #ff6b6b;
}